{"status":200,"data":{"app_id":"d4cd359c9a1f45c49dad65461bbf12c0","status":"active","plan":{"name":"Free","quota":"1000 requests / month","update_frequency":"3600s","features":{"base":false,"symbols":true,"experimental":true,"TimeSeries":false,"convert":false}},"usage":{"requests":7,"requests_quota":1000,"requests_remaining":993,"days_elapsed":2,"days_remaining":29,"daily_average":3}}}